* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100dvh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  border-radius: 50px;
  border: 1px solid #ccc;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

#tools {
  min-height: 100dvh;
}
#tools aside {
  position: relative;
  height: 100dvh;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}
#tools aside img {
  display: block;
  margin: 0 auto;
}
#tools aside .project-list--header {
  margin-top: 2rem;
  text-align: left;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tools aside .project-list--header h2 {
  font-size: 1.25rem;
}
#tools aside .project-list--header #view-all-projects {
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.25rem 0.5rem;
  transition: all 0.25s ease-in-out;
  background-color: #d3a5d3;
  color: #fff;
}
#tools aside .project-list--header #view-all-projects:link, #tools aside .project-list--header #view-all-projects:visited {
  color: #fff;
}
#tools aside .project-list--header #view-all-projects:hover {
  background-color: #88764c;
  color: #fff;
}
#tools aside .project-list--links {
  overflow: auto;
  flex: 1;
  margin-right: -10px;
}
#tools aside .project-list--links .project-link {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-radius: 50px;
  margin-right: 10px;
}
#tools aside .project-list--links .project-link i {
  color: #555;
}
#tools aside .project-list--links .project-link.active {
  background-color: rgba(204, 204, 204, 0.2);
}
#tools aside .project-list--links .project-link .link-project--name {
  display: flex;
  color: #555;
}
#tools aside .project-list--links .project-link .link-project--name p {
  margin-left: 1rem;
}
#tools aside #create-new-project--container {
  text-align: center;
}
#tools aside #create-new-project--container a {
  padding: 1rem;
  background-color: rgb(190, 0, 149);
  color: #fff;
}