* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.btn {
	border-radius: 50px;
	border: 1px solid #ccc;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.5rem 0.5rem;
	transition: all 0.25s ease-in-out;
	text-align: center;

	&.cancel {
		background-color: #fff;
		border: 2px solid #a34fa3;
		color: #a34fa3;
		font-weight: 700;
		width: 50%;
		margin-right: 1rem;
	}

	&.call-to-action {
		background-color: #a34fa3;
		color: #fff;
		width: 50%;
		margin-left: 1rem;
	}
}

.dialog {
	position: absolute;
	bottom: -100%;
	left: 0;
	right: 0;
	background-color: #33333377;
	padding: 0.25rem 0.25rem 0 0.25rem;
	transition: bottom 0.2s ease-in-out;
	border-radius: 1rem 1rem 0 0;

	&.active {
		bottom: 0;
	}

	.dialog-inner--container {
		background-color: #fff;
		border-radius: 1rem 1rem 0 0;
		padding: 2rem;
		.dialog-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				font-size: 1.5rem;
			}

			.close-button {
				color: #ccc;
				font-size: 1.5rem;
			}
		}
		.dialog-contents {
			background-color: #eef;
			margin-top: 1rem;
			border-radius: 0.5rem;
			padding: 1rem;

			.checkbox-container {
				display: flex;
				align-items: center;
				margin-top: 0.25rem;
			}

			h2 {
				font-size: 1.25rem;
			}

			.input-project-name {
				border-radius: 0.5rem;
				outline: none;
				border: none;
				padding: 0.5rem;
				width: 100%;
			}

			.project-name--error {
				color: red;
				font-size: 0.85rem;
				height: 0.5rem;
			}

			#include-nav,
			#launch-page {
				margin-right: 0.5rem;
			}
		}
	}

	.dialog-description {
		margin: 2rem 0;
		display: flex;
		i {
			color: #d3a5d3;
			font-size: 1.5rem;
		}
		p {
			margin-left: 1rem;
			font-size: 0.85rem;
			color: #aaa;
		}
	}

	.dialog-button--container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.new-project-dialog {
		background-color: #fff;
		border-radius: 1rem;
		padding: 1rem;
	}
}

#tools {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	aside {
		height: 100dvh;
		padding: 2rem 1.5rem;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: 0.4s ease-in-out;
		opacity: 1;

		&.element-hidden {
			display: none;
		}

		&.fade-out {
			opacity: 0;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		.project-list--header {
			margin-top: 2rem;
			text-align: left;
			color: #ccc;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h2 {
				font-size: 1.25rem;
			}

			#view-all-projects {
				text-decoration: none;
				// border: 1px solid #ccc;
				background-color: #d3a5d3;
				color: #fff;

				&:link,
				&:visited {
					color: #fff;
				}

				&:hover {
					background-color: #88764c;
					color: #fff;
				}
			}
		}

		.project-list--links {
			overflow: auto;
			flex: 1;
			margin-right: -10px;
			.project-link {
				display: flex;
				justify-content: space-between;
				padding: 1rem 0;
				border-radius: 50px;
				margin-right: 10px;

				i {
					color: #555;
				}

				&.active {
					background-color: #cccccc33;
				}

				.link-project--name {
					display: flex;
					color: #555;

					p {
						margin-left: 1rem;
					}
				}
			}
		}

		#create-new-project--container {
			text-align: center;
			a {
				padding: 1rem;
				background-color: rgb(190, 0, 149);
				color: #fff;
			}
		}
	}
	#main {
		position: absolute;
		top: 0;
		left: 0;
		background-color: red;
		opacity: 1;
		transition: 0.25s ease-in-out;
		height: 100%;
		width: 100%;
		padding: 2rem 1.5rem;
		display: flex;
		flex-direction: column;

		&.hide-right {
			left: 100%;
		}
	}
}
