* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	min-height: 100dvh;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

#tools {
	min-height: 100dvh;

	aside {
		min-height: 100dvh;
		text-align: center;
		padding: 2rem 1rem;

		.project-list {
			margin-top: 2rem;
			text-align: left;
			color: #ccc;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h2 {
				font-size: 1.25rem;
			}

			#view-all-projects {
				cursor: pointer;
				text-decoration: none;
				border-radius: 50px;
				border: 1px solid #aaa;
				padding: 0.25rem 0.5rem;
				transition: all 0.25s ease-in-out;

				&:link,
				&:visited {
					color: #ccc;
				}

				&:hover {
					background-color: #4c5e88;
				}
			}
		}
	}

	#main {
	}
}
