* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100dvh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#tools {
  min-height: 100dvh;
}
#tools aside {
  min-height: 100dvh;
  text-align: center;
  padding: 2rem 1rem;
}
#tools aside .project-list {
  margin-top: 2rem;
  text-align: left;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tools aside .project-list h2 {
  font-size: 1.25rem;
}
#tools aside .project-list #view-all-projects {
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #aaa;
  padding: 0.25rem 0.5rem;
  transition: all 0.25s ease-in-out;
}
#tools aside .project-list #view-all-projects:link, #tools aside .project-list #view-all-projects:visited {
  color: #ccc;
}
#tools aside .project-list #view-all-projects:hover {
  background-color: #4c5e88;
}